:root {
    --primary-color: #0F95E5;
    --white-color: #ffffff;
    --light-color: #eeeeee;
    --light-gray-color: #b8b8b8bd;
    --secundary-color: maroon;
    --light-gray-color-two: #a7a7a7d0;
    --gap: 3rem;
}